<link rel="stylesheet" href="/css/dashboard.css">
<!-- <div class="container"> -->
    <h1 class="dashboard-title text-center">Admin Dashboard</h1>
    <div class="row g-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Products</h5>
                    <p class="card-text text-center">Manage your products here.</p>
                    <a href="/admin/products" class="btn mt-auto text-center">Go to Products</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Categories</h5>
                    <p class="card-text">Manage your categories here.</p>
                    <a href="/admin/categories" class="btn mt-auto">Go to Categories</a>
                </div>
            </div>
        </div>
    </div>
</div>