* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

body {
    background-color: #f4f4f4;
    padding: 20px;
}

.resume-container {
    width: 800px;
    background-color: white;
    padding: 30px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    /* justify-content: ; */
    align-items: center;
    padding-bottom: 20px;

}

.photo img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
    border: 4px solid black;
}

.content-box{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.content{
    width: 33%;
    display: flex;
    flex-direction: column;
    
}

.contact-info{
    background-color: #000;
    color: white;
    width: 60%;
    height: 200px;
    border-radius: 40px;
    /* position: absolute; */
}
.contact-info h1 {
    font-size: 36px;
    margin-bottom: 5px;
     margin-left: 20%;
    padding-bottom: 10px;
    
}


.contact-info .job-title {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.contact-info p {
    margin-bottom: 10px;
    margin-left: 30%;
font-size: 12px;
}

.content > div {
    width: 100%;
}

h2 {
    background-color: #000;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.about p, .education p, .expertise li {
    width: 60%;
    margin: 20px;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 20%;
}

.line{
    border: 2px solid black;
    width: 2px;

}


.expertise li{
    text-decoration: none;
    line-height: 1px;
}

.Qualification h3 {
    font-size: 16px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.expertise ul {
    list-style: none;
}

.expertise li {
    margin-bottom: 5px;
    font-size: 14px;
}

.expertise-dots {
    margin-top: 10px;
}

.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #d3d3d3;
    margin-right: 5px;
}

.dot.filled {
    background-color: #000;
}

.fixed {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}