<div class="signUp-container">
    <h2>Sign up</h2>
    <form id="signupForm">
        <div class="input-group">
            <input type="text" id="fname" placeholder="First name">
            <div id="fnameError" class="error"></div>
        </div>
        <div class="input-group">
            <input type="text" id="lname" placeholder="Last name">
            <div id="lnameError" class="error"></div>
        </div>
        <div class="input-group">
            <input type="email" id="email" placeholder="E-mail">
            <div id="emailError" class="error"></div>
        </div>
        <div class="input-group">
            <input type="password" id="password" placeholder="Password">
            <div id="passwordError" class="error"></div>
        </div>
        <button type="submit" class="btn">Create account</button>
    </form>
    <div class="login">
        <a href="/login">Login</a>
    </div>
</div>