.navbar{
    padding: 15px;
    background-color: transparent !important;
}

.navbar .navbar-brand{
    filter: brightness(0) invert(1);
}


#navbarSupportedContent{
    padding-top: 8px;
}

.navbar .nav-link, 
.navbar .navbar-brand, 
.navbar .dropdown-toggle {
    color: white !important;
}

.navbar-toggler {
    border-color: white; 
}

.navbar-toggler-icon {
    filter: brightness(0) invert(1);
}

.navbar .dropdown-menu {
    background-color: #222323; 
}

.navbar .dropdown-item:hover {
    background-color: gray !important; 
    color: white !important; 
}


.navbar .dropdown-item {
    color: white !important;
}


.fa-search,
.fa-user,
.fa-cart-shopping {
    filter: brightness(0) invert(1);
    font-size: 15px;
    padding-right: 25px;
}
