<div class="header">
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="/images/charcoalicon.png" alt="Charcoal Logo" width="50" height="50" class="icon">
                <img src="/images/charcoal (2).png" alt="Charcoal Text Logo" class="text-logo">
            </div>
            <ul class="nav-menu">
                <li>
                    <a href="#" class="dropdown-toggle">COLLECTIONS</a>
                    <i class="fa fa-chevron-down"></i> <!-- Chevron icon for Collections -->

                    <ul class="dropdown">
                        <li>
                            <a href="#" class="dropdown-toggle">Winter</a>
                            <i class="fa fa-chevron-down"></i>
                            <ul class="dropdown">
                                <li><a href="#">Long Coats</a></li>
                                <li><a href="#">Jackets</a></li>
                                <li><a href="#">Sweat Shirts</a></li>
                                <li><a href="#">Hoodies</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Fragrances</a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle">Summer Splash</a>
                            <i class="fa fa-chevron-down"></i>
                            <ul class="dropdown">
                                <li><a href="#">Polo & Tees</a></li>
                                <li><a href="#">Casual Shirts</a></li>
                                <li><a href="#">Smart Shirts</a></li>
                                <li><a href="#">Semi Formal Shirts</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle">Shirts</a>
                            <i class="fa fa-chevron-down"></i>
                            <ul class="dropdown">
                                <li><a href="#">Limited Edition Shirts</a></li>
                                <li><a href="#">Polo & Tees</a></li>
                                <li><a href="#">Casual Shirts</a></li>
                                <li><a href="#">Dress Shirts</a></li>
                                <li><a href="#">Semi Casual Shirts</a></li>
                                <li><a href="#">Smart Shirts</a></li>
                                <li><a href="#">Half Sleeve Shirts</a></li>
                                <li><a href="#">Full Sleeve Shirts</a></li>
                                <li><a href="#">Semi Formal Shirts</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Suiting</a>
                        </li>
                        <li>
                            <a href="#">Semi Formal Coats</a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle">Riwayat-e-Rang-Afroz</a>
                            <i class="fa fa-chevron-down"></i>
                            <ul class="dropdown">
                                <li><a href="#">Prince Coats</a></li>
                                <li><a href="#">Waist Coats</a></li>
                                <li><a href="#">Kurta</a></li>
                                <li><a href="#">Afroz Shalwar Kameez</a></li>
                                <li><a href="#">Kurta Pjama</a></li>
                                <li><a href="#">Afroz Trouser/Shalwar</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle">Bottoms</a>
                            <i class="fa fa-chevron-down"></i>
                            <ul class="dropdown">
                                <li><a href="#">Dress Pants</a></li>
                                <li><a href="#">Casual Pants</a></li>
                                <li><a href="#">Jeans</a></li>
                                <li><a href="#">Casual Trouser</a></li>
                                <li><a href="#">Casual Shorts</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle">ACCESSORIES</a>
                    <i class="fa fa-chevron-down"></i> <!-- Chevron icon for Accessories -->
                    <ul class="dropdown">
                        <li><a href="#">Caps</a></li>
                        <li><a href="#">Scarfs</a></li>
                        <li><a href="#">Gift Boxes</a></li>
                        <li><a href="#">Tie Box Set</a></li>
                        <li><a href="#">Lapel Pin</a></li>
                        <li><a href="#">Cufflinks</a></li>
                        <li><a href="#">Wallets</a></li>
                        <li><a href="#">Bow Tie</a></li>
                        <li><a href="#">Belts</a></li>
                        <li><a href="#">Socks</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">CLEARANCE SALE</a>
                </li>
            </ul>
            <div class="right-icons">
                <a href="/search"><i class="fa fa-search"></i></a>
                <a href="/login"><i class="fa fa-user"></i></a>
                <i class="fa fa-cart-shopping"></i>
            </div>
        </nav>
    </header>
</div>