<div class="banner1">
    <a href="http://127.0.0.1:5500/Bootstrap/search.html">
      <picture>
        <source media="(min-width: 1200px)" srcset="images/banner1-web.jpg">
        <img src="images/banner1-mobile.webp" alt="banner" class="img-fluid">
      </picture>
    </a>
  </div>
  <div class="banner2">
    <a href="http://127.0.0.1:5500/Bootstrap/search.html">
      <picture>
        <source media="(min-width: 1200px)" srcset="images/banner2-web.jpg">
        <img src="images/banner2-mobile.jpg" alt="banner" class="img-fluid">
      </picture>
    </a>
  </div>
  <div class="banner2">
  </div>
  <div class="banner3">
    <a href="http://127.0.0.1:5500/Bootstrap/search.html">
      <picture>
        <source media="(min-width: 1200px)" srcset="images/banner3-web.webp">
        <img src="images/banner3-mobile.webp" alt="banner" class="img-fluid">
      </picture>
    </a>
  </div>

  <div class="banner4">
    <a href="http://127.0.0.1:5500/Bootstrap/search.html">
      <picture>
        <source media="(min-width: 1200px)" srcset="images/banner4-web.webp">
        <img src="images/banner4-mobile.webp" alt="banner" class="img-fluid">
      </picture>
  </div>

  <div class="banner5">
    <a href="http://127.0.0.1:5500/Bootstrap/search.html">
      <picture>
        <source media="(min-width: 1200px)" srcset="images/banner5-web.jpg">
        <img src="images/banner5-mobile.jpg" alt="banner" class="img-fluid">
      </picture>
  </div>

  <div class="banner6">
    <a href="http://127.0.0.1:5500/Bootstrap/search.html">
      <picture>
        <source media="(min-width: 1200px)" srcset="images/banner6-web.jpg">
        <img src="images/banner6-mobile.jpg" alt="banner" class="img-fluid">
      </picture>
  </div>

  <div class="Newsletter_section">
    <div class="Newsletter_content">
        <h2 class="h10">Subscribe to Newsletter</h2>
        <div class="email_holder">
            <input type="text" placeholder="E-mail" class="email">
            <button type="submit" value="Subscribe" class="Subscribe">
                <i class="fa-sharp fa-regular fa-envelope-open"></i>Subscribe</button>
        </div>
    </div>
</div>