body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 10px;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 30px;

}

.logo .icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    /* filter: brightness(0) invert(1); */
}

.logo .text-logo {
    width: 140px;
    /* filter: brightness(0) invert(1); */
}

.nav-menu {
    display: flex;
    gap: 2em;
    list-style-type: none;
    align-items: center;
    flex-grow: 1;
    padding: 10px 20px;
}

.nav-menu li {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.nav-menu li ul {
    margin: 0;
}

.nav-menu a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    line-height: 15px;
    padding-top: 5px;
    position: relative;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.nav-menu li .fa-chevron-down {
    font-size: 12px;
    margin-left: 3px;
    /* filter: brightness(0) invert(1); */
    position: relative;
    top: 0;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    /* background-color: lightgray; */
    background-color: #f7f7f7;
    max-width: 200px;
    z-index: 1;
    margin: 0;
    padding: 0;
    padding-right: 10px;
}


.dropdown li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.dropdown a {
    color: #222323;
    padding: 10px 15px;
    font-weight: 450;
    text-decoration: none;
    display: block;
    display: flex;
    align-items: center;
    padding: 6.5px 5px;
}

.dropdown li a {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 100px;
}

.dropdown li .dropdown {
    top: 0;
    left: 100%;
    margin-left: 13px;
    display: none;
}


.dropdown a:hover {
    background-color: #5555;
}

.nav-menu li:hover>.dropdown {
    display: block;
}

dropdown li:hover>.dropdown {
    display: block;
}

.right-icons {
    display: flex;
    gap: 30px;
    align-items: center;
    padding-right: 20px;
}

.fa-search,
.fa-user,
.fa-cart-shopping {
    filter: brightness(0);
    font-size: 15px;
}

.fa-cart-shopping {
    margin-right: 20px;
}