body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signUp-container {
    margin-top: 5%;
    background-color: #f7f4f4;
    padding: 2rem;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 28px;
    color: #222323;
    font-weight: 500;
}

.signUp-container h2 {
    margin-bottom: 3rem;
    /* width: 100%; */
}

.input-group {
    margin-bottom: 1rem;
    width: 400px;
}


.input-group input {
    width: 100%;
    padding: 1.5rem;
    border: 1px solid #a5a3a3;
    background-color: transparent;
    font-size: 1rem;
    opacity: 0.5;
}

.input-group input:focus {
    /* border-color: #e72424; */
    outline: none;
}

.btn {
    margin-top: 5px;
    display: inline-block;
    width: 450px;
    padding: 1.25rem;
    background-color: #ea4c40;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ef6d6d;
}

.login {
    margin-top: 1.2rem;
    margin-bottom: 2rem;
}

.login a {
    text-decoration: none;
    color: #c1bebe;
    text-decoration: underline;

}

.login a:hover {
    text-decoration: none;
}

.input-group select {
    width: 450px;
    padding: 1.5rem;
    border: 1px solid #a5a3a3;
    background-color: transparent;
    font-size: 1rem;
    opacity: 0.5;
}

.input-group select:focus {
    outline: none;
}
