body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-container {
    margin-top: 5%;
    background-color: #f7f4f4;
    padding: 2rem;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 28px;
    color: #222323;
    font-weight: 500;
}

.login-container h2 {
    margin-bottom: 3rem;
    /* width: 100%; */
}

.input-group {
    margin-bottom: 1rem;
    width: 400px;
}


.input-group input {
    width: 100%;
    padding: 1.5rem;
    border: 1px solid #a5a3a3;
    background-color: transparent;
    font-size: 1rem;
    opacity: 0.5;
}

.input-group input:focus {
    /* border-color: #e72424; */
    outline: none;
}

.forgot-password {
    text-align: left;
    margin-bottom: 1rem;
    padding-bottom: 15px;

}

.forgot-password a {
    text-decoration: none;
    color: #c1c1c2;
    font-size: 0.85rem;
    text-decoration: underline;
}

.forgot-password a:hover {
    text-decoration: none;
}

.btn {
    display: inline-block;
    width: 450px;
    padding: 1rem;
    background-color: #ea4c40;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ef6d6d;
}

.sign-up {
    margin-top: 1.2rem;
    margin-bottom: 2rem;
}

.sign-up a {
    text-decoration: none;
    color: #c1bebe;
    text-decoration: underline;
   
}

.sign-up a:hover {
    text-decoration: none;
}