<div id="about-container">
    <p><b>Founded in 2008</b></p>
    <h2>Charcoal Menswear</h2>
    <p>Charcoal menswear was founded in Pakistan in 2008
        and is now one of the leading retailers of apparel and
        accessories for men from its beginning as a manufacturer of casual
        and formal clothing, charcoal has developed into one of the most leading brands in Pakistan.</p>

    <p>
        Charcoal is a fast growing company being engaged in the
        business of manufacturing, import and supply/sale of
        all type of clothing. All the products and services are
        designated and protected by trademark (Charcoal).
    </p>
    <p>The "Charcoal" is well known brand with a large customer base.</p>
</div>

<div class="store_location">
    <div class="location_link">
        <h2>Find our Store</h2>
        <a href="/contact">Click Here to see our all store locations.</a>
    </div>
    <div class="store_img">
        <img src="/images/store.jpg" alt="charcoal store image">
    </div>
</div>