<div class="location_container">
    <div class="header-section">
        <h1>Store Locator</h1>
    </div>
    
    <div class="image-section">
        <img src="/images/Store-Locator.png" alt="Store locations">
    </div>
</div>