<div id="container">
    <div id="box1">
        <h1 class="search">Search</h1>
    </div>
    <div id="box2" class="input-container">
        <input type="text" placeholder="Search here....." class="input">
        <i class="fas fa-search input-icon"></i>
    </div>
    <div id="box3">
        <button type="submit" value="Search" class="button">Search</button>
    </div>
</div>

