<footer class="bg-dark text-light">
    <div class="container-fluid py-4" style="padding-left: 50px; padding-right: 50px;">
      <div class="row d-flex justify-content-around mt-4">
        <div class="col-md-4">
          <div class="bold">
            <p>Sales Support</p>
          </div>
          <div class="h11">
            <p>
              Email: <a href="mailto:onlinesales@charcoal.com.pk">onlinesales@charcoal.com.pk</a>
            </p>
          </div>
          <div class="h11">
            <p>
              Phone: <a href="tel: +923454663833"> (92)-345-4663833</a>
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bold">
            <p>Customer Care</p>
          </div>
          <div class="h11">
            <p>
              Email: <a href="mailto:customercare@charcoal.com.pk">customercare@charcoal.com.pk</a>
            </p>
          </div>
          <div class="h11">
            <p>
              Phone: <a href="tel: +923116334445"> (92)-311-6334445</a>
            </p>
          </div>
        </div>
        <div class="col-md-4" style="padding-right: 80px;">
          <div class="bold ">
            <p>About our store</p>
          </div>
          <div class="h11">
            <p>
              <a href="http://127.0.0.1:5500/Project/store_locator.html" target="_blank"
                title="http://127.0.0.1:5500/Project/store_locator.html">Store Locator</a>
              -
              <a href="http://127.0.0.1:5500/Project/FAQs.html" target="_blank"
                title="http://127.0.0.1:5500/Project/FAQs.html">FAQ's</a>
              -
              <a href="http://127.0.0.1:5500/Project/Return_Exchange.html" target="_blank"
                title="http://127.0.0.1:5500/Project/Return_Exchange.html">Return Exchange Policy</a>
              -
              <a href="http://127.0.0.1:5500/Project/About_us.html" target="_blank"
                title="http://127.0.0.1:5500/Project/About_us.html">About us</a>
              -
              <a href="http://127.0.0.1:5500/Project/Terms_conditions.html" target="_blank"
                title="http://127.0.0.1:5500/Project/Terms_conditions.html">Terms Conditions</a>
              -
              <a href="http://127.0.0.1:5500/Project/charcoal_sewing.html" target="_blank"
                title="http://127.0.0.1:5500/Project/charcoal_sewing.html">Charcoal Sewing</a>
              -
              <a href="http://127.0.0.1:5500/Project/Size_guide.html.html" target="_blank"
                title="http://127.0.0.1:5500/Project/Size_guide.html">Size Guide</a>
              -
              <a href="http://127.0.0.1:5500/Project/All_products.html.html" target="_blank"
                title="http://127.0.0.1:5500/Project/All_products.html">All Products</a>
              -
              <a href="http://127.0.0.1:5500/Project/Fabric_Care.html" target="_blank"
                title="http://127.0.0.1:5500/Project/Fabric_Care.html">Fabric Care</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid py-4 mt-2" style="padding-left: 50px; padding-right: 50px;">
      <div class="row justify-content-left">
        <div class="col-md-4">
          <a href="https://www.facebook.com/charcoal.officialpage" class="tap-area text-light me-4" target="_blank"
            aria-label="Follow on facebook"><i class="fa-brands fa-facebook-f custom-icon-size"></i></a>

          <a href="https://www.instagram.com/charcoal.official/" class="tap-area text-light me-4" target="_blank"
            aria-label="Follow on instagram"><i class="fa-brands fa-instagram custom-icon-size"></i></a>

          <a href="https://www.pinterest.com/charcoalmensclothing/?invite_code=5029378e73214b60b5f1cdea86a4a804&sender=1025835758780562980"
            class="tap-area text-light me-4" target="_blank" aria-label="Follow on pinterest"><i
              class="fa-brands fa-pinterest-p custom-icon-size"></i></a>

          <a href="https://www.youtube.com/channel/UCcGfg_hMug9geH9E6pJ21og" class="tap-area text-light me-4"
            target="_blank" aria-label="Follow on youtube"><i class="fa-brands fa-youtube custom-icon-size"></i></a>

          <a href="https://www.linkedin.com/authwall?trk=bf&trkInfo=AQHiCDQCYydqfgAAAZKXDSi4M3nQ8v3_Fy75VQ3nQQAc66r7PWaVlNSiM6sjgHtTso_AJ-vpnOS0JBb3K"
            class="tap-area text-light me-4" target="_blank" aria-label="Follow on linkedin"><i
              class="fa-brands fa-linkedin-in custom-icon-size"></i></a>

          <a href="https://api.whatsapp.com/send?phone=923454663833" class="tap-area text-light" target="_blank"
            aria-label="Follow on whatsapp"><i class="fa-brands fa-whatsapp custom-icon-size"></i></a>
        </div>
      </div>
    </div>

    <div class="container-fluid" style="padding-left: 50px; padding-right: 50px;">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-6 text-left">
          <div class="copyright mt-4">
            <small>&copy; 2024 Charcoal Clothing. <br>Powered by IT Brain</small>
          </div>
        </div>
        <div class="col-md-2 text-end">
          <img src="images/visa-card.png" alt="Visa Card" class="payment-logo">
          <img src="images/Mastercard-Logo.png" alt="Mastercard" class="payment-logo">
        </div>
      </div>
    </div>

    <div class="chatbox position-fixed bottom-0 end-0 p-3 me-2">
      <a href="https://wa.me/15551234567" class="chat btn btn-light d-flex align-items-center" target="_blank"
        style="border-radius: 7px;"> 
        <i class="fab fa-whatsapp me-2"></i> Chat
      </a>
    </div>
  </footer>