<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand " href="#">
        <img src="images/charcoalicon.png" alt="Bootstrap" width="20" height="24" class="">
        <img src="images/charcoal (2).png" alt="Bootstrap" width="90" height="24">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              COLLECTIONS
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Winter</a></li>
              <li><a class="dropdown-item" href="#">Fragrances</a></li>
              <li><a class="dropdown-item" href="#">Summer Splash</a></li>
              <li><a class="dropdown-item" href="#">Shirts</a></li>
              <li><a class="dropdown-item" href="#">Suiting</a></li>
              <li><a class="dropdown-item" href="#">Semi Formal Coats</a></li>
              <li><a class="dropdown-item" href="#">Riwayat-e-Rang-Afroz</a></li>
              <li><a class="dropdown-item" href="#">Bottoms</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ACCESSORIES
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item href=" #">Caps</a></li>
              <li><a class="dropdown-item" href="#">Scarfs</a></li>
              <li><a class="dropdown-item" href="#">Gift Boxes</a></li>
              <li><a class="dropdown-item" href="#">Tie Box Set</a></li>
              <li><a class="dropdown-item" href="#">Lapel Pin</a></li>
              <li><a class="dropdown-item" href="#">Cufflinks</a></li>
              <li><a class="dropdown-item" href="#">Wallets</a></li>
              <li><a class="dropdown-item" href="#">Bow Tie</a></li>
              <li><a class="dropdown-item" href="#">Belts</a></li>
              <li><a class="dropdown-item" href="#">Socks</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">CLEARANCE SALE</a>
          </li>
        </ul>
      </div>

      <div class="d-flex">
        <i class="fa fa-search"></i>
        <i class="fa fa-user"></i>
        <i class="fa fa-cart-shopping"></i>
      </div>

    </div>
  </nav>