#container {
    margin-top: 6%;
    width: 40%;
    text-align: center;
    padding: 3%;
}

.button {
    margin-top: 7%;
    padding: 15px 25px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.input-container {
    position: relative;
    width: 100%;
}
.input {
    padding: 15px;
    font-size: 18px;
    width: 100%;
    border: none;
    box-sizing: border-box;
    border-bottom: 2px solid grey;
    padding-right: 40px;
}

.input-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: grey;
    pointer-events: none;
}